{
	"extends": [
		"react-app",
		"airbnb",
		"plugin:jsx-a11y/recommended"
	],
	"plugins": [
		"jsx-a11y"
	],
	"rules": {
		"semi": 0,
		"no-tabs": 0,
		"indent": [
			"error",
			"tab"
		],
		"react/jsx-indent": [
			"error",
			"tab"
		],
		"react/jsx-indent-props": [
			"error",
			"tab"
		],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js",
					".jsx"
				]
			}
		],
		"max-len": [
			"error",
			{
				"code": 200
			}
		]
	}
}